.project__container {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.project__item {
  width: 100vw;
  max-width: 425px;
}

.project__item--img {
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 710px) {
  .project__item--img {
    width: 100%;
  }
}
