.projects__container {
  scroll-snap-align: center;
  overflow: hidden;
  width: 98%;
  max-width: 450px;
  height: 568px;
  border-radius: 14px;
  align-self: center;
  justify-self: center;
  background-color: darkseagreen;
  margin: 20px;
}

.projects__item--img {
  object-fit: contain;
}

.projects__item--description {
  background-color: rgba(192, 192, 192, 0.301);
  position: relative;
  bottom: 85px;
}
