.project__container {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.project__item {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  max-width: 446px;
  background-color: var(--bg);
}

@media screen and (min-width: 710px) {
  .project__container {
    height: 640px;
  }

  .project__item {
    margin-block: 5px;
  }

  .project__item--img {
    width: 100%;
  }
}
