.description__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 70px);
  gap: 5px;
  max-width: 467.7px;
  padding: 20px;
  margin-block-end: 36px;
  background: linear-gradient(
    2deg,
    rgba(66, 76, 105, 0.65) 0%,
    rgba(139, 142, 163, 0.29) 50%,
    rgba(208, 227, 255, 0) 100%
  );
}

.description__text {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  margin-block-start: 20px;
}

.description__text--title {
  font-size: 1.4rem;
}
.description__text-p {
  font-size: 1rem;
}

.description__technologies--wrapper {
  grid-column: 1 / 4;
  grid-row: 5;
  align-self: center;
}

.description__technologies--list {
  display: flex;
}

.description__feedback {
  grid-column: 4;
  grid-row: 1 / 5;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 450px) {
  .description__wrapper {
    margin-block-end: 1px;
  }
}
