.description__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 70px);
  gap: 5px;
  width: 100%;
  padding: 20px;
  margin-block-end: 36px;
  background: linear-gradient(
    2deg,
    rgba(24, 28, 39, 0.315) 0%,
    rgba(48, 50, 63, 0.651) 50%,
    rgba(208, 227, 255, 0) 100%
  );
}

.description__text {
  grid-column: 1 / 4;
  grid-row: 3;
  margin-block-start: 11px;
  color: var(--txt);
}

.description__text--title {
  font-size: calc(1.2rem + 1vw);
}
.description__text-p {
  font-size: calc(0.7rem + 1vw);
}

.description__technologies--wrapper {
  grid-column: 1 / 5;
  grid-row: 5;
  align-self: start;
  justify-content: center;
  margin-block-end: 46px;
}

.description__feedback {
  grid-column: 4;
  grid-row: 1 / 5;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 450px) {
  .description__wrapper {
    margin-block-end: 1px;
  }
}
