.projects {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.projects__desc {
  display: none;
}

.projects__list {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.projects__list--ul {
  scroll-snap-align: center;
  padding-block-start: 0px;
}

@media screen and (min-width: 710px) {
  .projects {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .projects__desc {
    display: block;
    margin-block-start: 78px;
    padding-inline: 40px;
  }

  .projects__list--ul {
    padding-block-start: 75px;
  }
}
