.projects {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 100vw;
  height: 100vh;
  padding-block-end: 10px;
}

.projects__list {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.projects__list--ul {
  scroll-snap-align: center;
  padding-block: 30px;
}

@media screen and (min-width: 710px) {
  .projects__list {
    margin-block-start: 70px;
    height: 90vh;
  }
}
