.projects {
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  height: 100%;
}

.projects__list {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
}

.projects__list--ul {
  scroll-snap-align: center;
  padding-block-start: 0px;
}

@media screen and (min-width: 710px) {
  .projects {
    margin-block-start: 70px;
  }
}
