.about {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100vw;
  height: 100vh;
  background-color: var(--bg-light);
}

.about__content {
  grid-column: 2;
  max-width: 460px;
  overflow-y: scroll;
  scroll-snap-type: y;
}

.about__title {
  color: var(--txt-light);
  margin-block-end: 20px;
}

.about__p {
  color: var(--txt-light);
  text-align: start;
  padding-inline: 15px;
}

.about__imgProfile {
  grid-column: 1;
  width: 229px;
  height: 250px;
  margin-block: 60px;
}

.about__imgProfile img {
  object-fit: cover;
  width: 100%;
  border-radius: 14px;
}

@media screen and (min-width: 710px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 430px);
    justify-content: center;
  }

  .about__imgProfile {
    width: 300px;
    height: 360px;
    justify-self: center;
  }

  .about__content {
    width: 70%;
    justify-self: center;
  }
}
