.about {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100vw;
  height: 100vh;
  padding-block-end: 72px;
  color: var(--txt);
}

.about__content {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  max-width: 460px;
  padding-block-end: 10px;
  overflow-y: scroll;
  scroll-snap-type: y;
  padding-inline: 15px;
}

.about__title {
  align-self: center;
  position: relative;
  margin-block-end: 20px;
}

.about__title::before {
  content: "";
  display: block;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: var(--action);
  z-index: -1;
  clip-path: var(--clippy);
  transition: clip-path 2s;
}

.about__title:hover::before {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.about__p {
  text-align: start;
}

.about__list-skills {
  margin-block: 10px;
}

.about__imgProfile {
  grid-column: 1;
  width: 229px;
  height: 250px;
  margin-block: 60px;
}

.about__imgProfile img {
  object-fit: cover;
  width: 90%;
  border-radius: 14px;
}

.about__list-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 60px);
  justify-items: center;
  gap: 5px;
  width: 100%;
}

.about__list-skills li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__list-skills img {
  width: 35px;
  cursor: pointer;
}

.about__list-skills p {
  font-size: 10px;
  color: var(--txt);
}

@media screen and (min-width: 710px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 430px);
    justify-content: center;
    padding-block-end: 0;
  }

  .about__imgProfile {
    width: 300px;
    height: 334px;
    justify-self: center;
  }

  .about__content {
    width: 95%;
    justify-self: center;
    align-items: start;
    padding-inline: 20px;
  }
}
