.about {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  min-width: 100vw;
  height: 100vh;
  background-color: var(--bg-light);
}

.about__content {
  max-width: 460px;
  overflow-y: scroll;
  scroll-snap-type: y;
}

.about__title {
  color: var(--txt-light);
  margin-block-end: 20px;
}

.about__p {
  color: var(--txt-light);
  text-align: start;
}

.about__imgProfile {
  grid-column: 1;
  justify-self: center;
  width: 229px;
  height: 250px;
  margin-block: 10px;
  margin-inline: 20px;
  background-color: rgb(250, 93, 41);
}

@media screen and (min-width: 710px) {
  .about {
    display: grid;
    grid-template: 50% 50%;
  }
  .about__imgProfile {
    grid-column: 1;
    width: 300px;
    height: 360px;
  }
  .about__content {
    justify-self: center;
    grid-column: 2;
    width: 70%;
  }
}
