.contact {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  height: 100vh;
  padding: 20px;
}

.contact__title {
  text-align: center;
  font-size: calc(1.5rem + 1vw);
  margin-block-start: 2em;
  color: var(--txt);
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  height: 80vh;
  margin-block-start: 30px;
  padding: 1em;
}

.contact-form {
  background: var(--bg);
  max-width: 600px;
  color: var(--txt);
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form__item {
  padding: 0.5em;
}

@media (min-width: 400px) {
  .contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
  }
}

.contact-form .message {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: var(--txt);
  border-bottom: 1px solid var(--txt);
}

.contact-form .send {
  grid-column: 1 / 3;
}

.contact-form form button {
  background: var(--txt);
  text-transform: uppercase;
  padding: 1em;
  color: var(--bg);
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: tomato;
  color: var(--bg);
  transition: background-color 1s ease-out;
  outline: 0;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  .contact {
    margin-block-start: 70px;
  }

  .contact-wrapper {
    padding: 2em;
  }
}
