.header {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 100vh;
  padding: 10px;
  background-color: var(--bg-light);
  color: var(--txt-light);
}

.iam span {
  font-weight: 900;
}

.iam h1 {
  font-weight: 300;
  font-size: calc(1rem + 0.1vw);
}
