nav {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 3rem;
  padding: 10px;
  background-color: var(--bg-light);
  z-index: 1;
}

.menu {
  width: 45px;
  height: 35px;
  color: var(--txt-light);
}
