.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 10px;
  background-color: var(--bg);
  z-index: 1;
}

.nav__sections ul {
  display: flex;
}

.nav__sections .nav__item {
  margin-inline: 30px;
}

.nav__sections button {
  padding: 5px;
  width: 80px;
  border-radius: 14px;
  color: var(--txt);
}

.nav__sections button:hover {
  cursor: pointer;
  padding: 5px;
  box-shadow: var(--shadows);
}

.nav__sections button:focus {
  color: var(--action);
}

@media screen and (max-width: 710px) {
  .nav {
    display: none;
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}
