.nav {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: fixed;
  width: 100vw;
  height: 70px;
  padding: 10px;
  background-color: var(--bg);
  z-index: 1;
}

.nav__icon {
  width: 45px;
  height: 35px;
  margin-inline-start: 30px;
  color: var(--txt);
}

.nav__sections ul,
li {
  display: flex;
  margin-inline: 30px;
}

.nav__sections button {
  padding: 5px;
  width: 80px;
  border-radius: 14px;
}

.nav__sections button:hover {
  cursor: pointer;
  padding: 5px;
  box-shadow: 5px 5px 15px 0px rgba(13, 1, 122, 0.19);
}

@media screen and (max-width: 710px) {
  .nav {
    display: none;
  }
}

button {
  border: none;
  background: transparent;
}
