.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  margin-block: 15px;
  font-size: 12px;
}

.icon {
  width: 35px;
  height: 35px;
}

.icon:hover {
  color: var(--action);
}
