:root {
  --bg-dark: #141b1f;
  --bg-light: #fff7e8;
  --txt-dark: #e6e9ee;
  --txt-light: #292929;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62, 5%;
  font-family: Inter, Nunito Sans, -apple-system, \.SFNSText-Regular,
    San Francisco, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica,
    Arial, sans-serif;
}

h2 {
  font-size: calc(1.5rem + 2vw);
}

h3 {
  font-size: calc(1.5rem + 1vw);
}

p {
  font-size: 1.2rem;
}
